.clear::after, .clear::before
{
		content: '';
		display: table;
}
.clear::after{
     clear: both;
}

.index_all{
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
.index_box{
	width: 100%;
    margin: 0 auto;
}
.body{
	width: 1340px;
	height: 1000px;
	margin: 0 auto;
    /*background: red;*/
}
.main{
	width: 1340px;
	height: 460px;
	position: relative;
	margin:  0 auto;
}

.menu{
	height: 460px;
	width: 230px;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	left: 0;
	top: 0;
	font-family: 'apo';
}
.main_img{
	width: 1340px;
	height: 460px;
}

.menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	height: 42px;
	line-height: 42px;
	margin-top: 10px;
	color: white;
	font-family: Microsoft Yahei;

}
.menu .clear span{
font-family: 'apo';

}

.menu li{
padding-left: 30px;
overflow: hidden;
height: 40px;
width: 200px;
}

.menu li:hover{
background-color: #ff6700;
}

.menu li .menu-left{
float: left;
}

.menu li .menu-right{
float: right;
padding-right: 20px;
}

.menu li .content{
height: 460px;
width: 300px;
background-color: #fff;
position: absolute;
left: 230px;
top: 0;
display: none;
color: black;
z-index: 999999999;
text-align: center;
font-size: 18px;

}

.menu li:hover  .content{
display: block;
}



.main_arrow_left, .main_arrow_right{
width: 41px;
height: 69px;
position: absolute;
top: 40%;
}
.main_arrow_right:hover{
background-position: -42px 0;
}

.main_list{
position: absolute;
right: -1000px;
bottom: 10px;
}

.main_list .item{
width:7px;
height: 7px;
background-color: rgba(0,0,0,0.4);
float: left;
border-radius: 100%;
margin-right: 5px;
border: 2px solid white;
}

.main_list .item:hover{
background-color: rgba(255,255,255, 0);
}


.goodsname_list{
	width: 1340px;
	height: 60px;
	background: rgb(221,222,226);
	margin: 0 auto;
	margin-top: 30px;
	float: left;
	font-size: 25px;
	font-family: '微软雅黑';
	overflow: hidden;

}
.goodsname_list a{
	text-decoration: none;
	color: green;
	/*text-align: center;*/
}
.goodsname_list ul{
	text-decoration: none;
}

.goodsname_list li{
	display: inline-block;
	padding-left: 55px;
	padding-top: 10px;
}

.goods{
	width: 1340px;
	height: 500px;
	margin: 0 auto;
	float: left;
}
.goods_nav{
	width: 1340px;
	height: 80px;
    margin-top: 80px;
}
.goods_nav_left{
	width: 400px;
	height: 80px;
	float: left;
}
.goods_nav_right{
   width: 400px;
   height: 80px;
   float: right;
   

}
.goods_nav_right .more{
    font-family: 'apo';
    text-align: right;
    font-size: 20px;
    margin: 0 ;
    line-height: 50px;
}
.goods_nav_right .more:hover{
	color: orange;
}
.goods_list{
width: 1340px;
height: 692px;
margin: 0 auto;
/*background-color: red;*/
margin-top: 50px;
border-bottom: 1px solid rgb(153,153,153);


}
.goods_list .clear{
padding-left: 0px;

}
.goods_list .list{
width: 243px;
height: 270px;
background-color: #fff;
margin: 0 0 20px 10px; 
position:relative;
text-align: center; 
font:12px 微软雅黑; 
padding-top: 20px;
overflow: hidden; 
float:left; 
/*margin: 50px auto;*/
/*transition: all 2s;*/
}
.goods_list li a{
text-decoration: none;
color: black;
font-size: 15px;
font-family: '微软雅黑';
}
.goods_list .list:hover{
transform: translate(0, -2px);
box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.goods_list .name{
color: #333; 
font: 14px 微软雅黑;
/*margin: 0 20px;*/
overflow: hidden; 
white-space: nowrap;
}
.goods_list .more{
color: #b0b0b0;
margin: 6px 20px 0; 
overflow: hidden;
white-space: nowrap;
}
.goods_list .price{
color: orange;
margin: 6px 20px 0; 
overflow: hidden;
white-space: nowrap;
}
.goods_list_left{
	width: 250px;
	height: 615px;
	float: left;
}


.goods_nav_bottom{
	width: 1340px;
	height: 80px;
/*	background: yellow;*/
margin-top: 80px;
}
.goods_nav_bottom_left{
	width: 400px;
	height: 80px;
	float: left;
}
.goods_nav_bottom_right{
   width: 400px;
   height: 80px;
   float: right;
   

}
.goods_nav_bottom_right .more{
    font-family: 'apo';
    text-align: right;
    font-size: 20px;
    margin: 0 ;
    line-height: 50px;
}
.goods_nav_bottom_right .more:hover{
	color: orange;
}
.goods_list_bottom{
width: 1340px;
height: 692px;
margin: 0 auto;
/*background-color: red;*/
margin-top: 50px;


}
.goods_list_bottom .clear{
padding-left: 0px;

}
.goods_list_bottom .list{
width: 243px;
height: 270px;
background-color: #fff;
margin: 0 0 20px 10px; 
position:relative;
text-align: center; 
font:12px 微软雅黑; 
padding-top: 20px;
overflow: hidden; 
float:left; 
/*margin: 50px auto;*/
/*transition: all 2s;*/
}
.goods_list_bottom li{
text-decoration: none;
}
.goods_list_bottom .list:hover{
transform: translate(0, -2px);
box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
.goods_list_bottom .name{
color: #333; 
font: 14px 微软雅黑;
/*margin: 0 20px;*/
overflow: hidden; 
white-space: nowrap;
}
.goods_list_bottom .more{
color: #b0b0b0;
margin: 6px 20px 0; 
overflow: hidden;
white-space: nowrap;
}
.goods_list_bottom .price{
color: orange;
margin: 6px 20px 0; 
overflow: hidden;
white-space: nowrap;
}
.goods_list_left_bottom{
	width: 250px;
	height: 615px;
	float: left;
}